body {
	margin:0px;
	font-size:20px;
	font-family:arial;
	line-height:22px;
}

.row {
	display:table;
	width:100%;
}

.cell {
	display:table-cell;
	height:100%;
}

.vtop { vertical-align:top}
.p10 {padding:10px}

.channels {
	width:150px;
	background:#f0f0f0;
}

.channels a {
	text-decoration:none;
	display:block;
	text-indent:10px;
	color:white;
}

.channels a:hover, #active {
	background:orange;
	color:#ffffff
}

.channels .title {
	font-size:24px;
}

.logo {
	background:none;
	color:#ffffff;
	padding:10px 0px;
	font-size:20px;
	text-align:center;
}

.categories a {
	display:inline-block;
	width:700px;
	text-align:center;
	background:brown;
	margin:10px 5px;
	color:#ffffff;
	text-decoration:none;
	border-radius:10px;
	font-size:20px
}

.categories a:hover, #current {
	background:orange;
}

.games .game, .games .date {
	display:block;
	width:100%;
	text-decoration:none;
	border-radius:20px;
	cursor:pointer;
	margin-top:10px
}

.games .game {
	background:silver;
}

.games .date {
	background:#000000;
	color:#ffffff;
	text-align:center;
}

.games span {
	display:inline-block;
	padding:10px;
	color:black;
}

.games .language {
	width:100px;
	font-size:23px;
}

.games .bits {
	font-size:21px;
}

.games .time {
	text-align:center;
	width:40px
}

.games .title {
	font-weight:bold;
	width:700px;
}

.games .game:hover {
	background:orange;
}

.games .links {
	display:none;
}	

.games .live {
	background:white;
}

sup {
	color:#ff0000;
}

.pages {
	margin:10px;
	text-align:center;
}

.pages a, .pages strong {
	display:inline-block;
	padding:0px 10px;
	border-radius:5px;
}

.pages a {
	background:white;
	text-decoration:none;
	color:#ffffff;
}

.pages strong {
	background:orange;
}

.pages a:hover {
	background:white;
}

#selected {
	background:white;
}

.games a {
	background:black;
	width:110px;
	text-align:center;
	color:#ffffff;
	text-decoration:none;
	display:inline-block;
	border-radius:20px;
	margin:10px 10px;
}

.games a:hover {
	background:purple
}
